
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box {
    width: 405px;
    height: 405px;
    /*     border: 1px solid black; */
    margin: 50px auto;
    transform: rotate(45deg);
}


/* ul */
ul {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    opacity: 0.5;
}
/* ul中间白线 */
ul:nth-child(2n+1){
    margin-right: 5px;
}
ul:nth-child(1) + ul{
    margin-bottom: 5px;
}
/* ul：左对角 */
ul:first-child, ul:last-child{
    /*     background: green; */
}
/* ul：右对角 */
ul:nth-child(2), ul:nth-child(3){
    /*     background: #8BC34A; */
}


/* li */
ul li{
    width: 100px;
    height: 100px;
    background: #009606;
}
/* 偶数行 */
ul li:nth-of-type(even){
    /*     background: #673AB7; */
}
/* 定位 */
ul li:nth-child(2), ul li:nth-child(3){
    position: relative;
    top: -100px;
    right: -100px;
}
ul li:last-child{
    position: relative;
    top: -200px;;
}
/* 去掉4个边角  */
ul:nth-child(1) li:nth-child(1),
ul:nth-child(2) li:nth-child(2),
ul:nth-child(3) li:nth-child(4),
ul:nth-child(4) li:nth-child(3){
    background: white;
}


/* 倒角-top */
ul:nth-child(1) li:nth-child(2),
ul:nth-child(2) li:nth-child(1){
    border-radius: 50px 50px 0 0;
}
/* 倒角-right */
ul:nth-child(2) li:nth-child(3),
ul:nth-child(4) li:nth-child(2){
    border-radius: 0 50px 50px 0;
}
/* 倒角-bottom */
ul:nth-child(3) li:nth-child(3),
ul:nth-child(4) li:nth-child(4){
    border-radius: 0 0 50px 50px;
}
/* 倒角-left */
ul:nth-child(1) li:nth-child(4),
ul:nth-child(3) li:nth-child(1){
    border-radius: 50px 0 0 50px;
}


/* 渐变线 */
ul:nth-child(1) li{
    background: linear-gradient(to right, #eecda3, #ef629f);
}
ul:nth-child(2) li{
    background: linear-gradient(to top, #56ab2f,#a8e063);
}

ul:nth-child(4) li{
    background: linear-gradient(to right, #f2994a, #f2c94c);
}
ul:nth-child(3) li{
    background: linear-gradient(to top, #56ccf2, #2f80ed);
}
